body {
    background-color: #eee;
    padding-top: 20px;
    font-family: 'Press Start 2P', cursive;
    background: url('../images/background1.jpg');
    background-size: cover;
}

.container {
    text-align: center;
}

h1,h2,h3,
h4,h5,h6 {
    padding-top: 23px;
    color: rgb(219, 219, 241)
}

.title {
   width: 20rem;
}

.lost, .win{ 
    display: block;
    margin: 0 auto;
}

.hangman {
    padding-top: 2rem;
    width: 350px;
}
.pressKeyTryAgain, 
.lost, .win {display: none;}

.gameplay-column {
    padding-top: 20px;
    border: 2px outset rgb(180, 85, 168);
    text-align: center;
    margin-top: 20px;
    min-height: 520px;
}

#hint{
background-color: rgb(226, 154, 217);
color: black;
border: solid 5px rgb(54, 12, 49);
text-decoration:none;
cursor: help;
font-size:1em;
padding:5px 5px;
width:110px;
margin: 2px;
}

#hint:hover {
    background-color:  rgba(45, 131, 78, 0.952);
}
